/* body */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.hidden {
  display: none;
}


/* header */
.header {
  background-color: #11bdff;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.header_title {
  color: #fff;
  font-size: 2rem;
  padding: 16px 0;
}

.header_title::before {
  background-image: url(../images/bird.png);
  background-size: contain;
  content: '';
  display: inline-block;
  height: 40px;
  margin-right: 16px;
  vertical-align: middle;
  width: 40px;
}


/* main */
main {
  flex: 1;
}


/* home */
.home {
  height: 100%;
}


/* user */
.user_card {
  border-bottom: 2px solid #ddd;
  display: flex;
  padding: 16px 24px;
  vertical-align: top;
}

.user_img {
  height: 40px;
  width: 40px;
}

.user_inner {
  margin-left: 16px;
  overflow-x: auto;
  overflow-y: hidden;
}

.user_name {
  margin-bottom: 4px;
}
.user_text {
  font-size: 1.2rem;
}


/* article */
.article {
  height: 100%;
  display: none;
}

.article_text {
  margin: 8px;
  font-size: 1rem;
  line-height: 1.8;
}

.article_textarea {
  border: 1px solid #b6c3c6;
  border-radius: 4px;
  height: 96px;
  resize: none;
  width: 100%;
}

.article_text__textarea:focus {
  box-shadow: 0 0 0 4px rgba(35, 167, 195, 0.3);
  outline: 0;
}


/* button */
.button_wrapper-top{
  display:flex;
  justify-content: space-between;
  font-size:24px;
  padding: 8px;
  height: 48px;
}

.button-cancel{
  color: #11bdff;
}

.button-tweet{
  background-color: #11bdff;
  border-radius: 16px;
  color: white;
  text-align: center;
  padding: 0 16px;
}

.button_wrapper-bottom {
  background-color: #bbb;
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: space-around;
  position: sticky;
  padding: 8px 0;
  vertical-align: center;
  width: 100%;
}

.button_inner-bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 80px;
}

.button_img {
  height: 32px;
  width: 32px;
}